---
layout: default
---
<style>
.column {
  float: left;
  width: 45%;
  padding: 10px;
}

.row {
  padding-bottom: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

<div class="row">
  <center><img src = "{{ page.image_src }}" style="width: 50%;"></center>
</div>
  <div class="row">{{ content }}</div>




{% if page.back_button %}
<center>
<a href = "javascript:history.back()">
  <img src = "{{ site.url }}/images/logos/back.png" style = "width: 20%;" >
</a>
</center>
{% endif%}
