---
layout: default
---
{% if page.title_diff %}
<div class="post-header mb2">
  <h1>{{ page.title_diff }}</h1>
</div>
{% else %}
<div class="post-header mb2">
  <h1>{{ page.title }}</h1>
</div>
{% endif %}

<article class="post-content">
  {{ content }}
</article>

{% if page.home_button %}
<a href = "../">
<div class="circle-button" style="padding-top: 3%;">
    <div class="top-circle" data-sr-id="80" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
      <img src = "{{ site.url }}/images/logos/home.png" >
    </div>
</div>
</a>
{% endif%}
